# Instead of ignoring big files they should be tracked by lfs
_READY
model/kaggle.json
Fastformer/data/*
Fastformer/datas/*
Fastformer/dataset/*
Fastformer/datasets/*
Fastformer/user_models/*
models/*
*.h5
*.hdf5
*.vec
*.tsv
*.zip
*.pkl
*.keras