_READY
model/kaggle.json
Fastformer/data/*
Fastformer/datas/*
Fastformer/dataset/*
Fastformer/datasets/*
Fastformer/user_models/*
models/*
*.h5
*.hdf5
*.vec
*.tsv
*.zip
*.pkl
*.keras
*.csv
backend/models/news_df_processed.pkl
backend/user_category_profiles.pkl