Flask==2.0.2
Flask-CORS==3.0.10
numpy
scikit-learn==1.5.2
pickle-mixin==1.0.2
Werkzeug==2.0.2
torch
transformers
gnews
pandas
nltk
datasets
fastapi
uvicorn
pydantic
tensorflow==2.18.0
keras==3.8.0
huggingface_hub
#In case running jupyter notebook scripts for manual testing
jupyter
